.card1 {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: rgb(228, 245, 250);
    width: 20%;
    min-width: 400px;
    margin: 20px;

}

/* On mouse-over, add a deeper shadow */
.card1:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container1 {
    padding: 2px 16px;
}

.mainContainer {
    display: flex;

 flex-wrap: wrap;
    justify-content: space-around;


}